extends layout

block content
  h1= title
  
  ul
    each schedule in schedule_list
      li 
        a(href=schedule.url) #{schedule.session.time} 
        |  Room: #{schedule.room.roomNumber}
        |  (#{schedule.topic.title} - #{schedule.presenter.name}) 

    else
      li There are no schedules.